# Xcode
*.xcuserdata/
xcuserdata/
*.xcscmblueprint
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
